html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 1920px;
  margin: 0 auto;
  text-align: center;
}